.color1 {
    background-color: #000000;
    color: white;
}

.color2 a {
    color: white;
}

.color2 {
    background-color: #142644;
    color: black;
}

.color3 {
    background-color: #405a95;
    color: white;
}

.color4 {
    background-color: #7995f3;
}

.color5 {
    background-color: #bdd6ff;
}

html,
body {
    min-height: 100%;
}

html {
    height: 100%;
}

.image is-4by2 {
    height: 100px;
}

.card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card {
    width: 70%;
}


.container {
    margin-top: 10px;
}

.sectionbg {
    background-image: url("../img/COPYCOPY.jpg");
    background-size: 100% 110%;
    object-fit: cover;
    background-repeat: no-repeat;
}